/*全局通用样式变量
 * @Author: zzh0211@live.com 
 * @Date: 2019-05-21 10:41:22 
 * @Last Modified by: zzh0211@live.com
 * @Last Modified time: 2019-05-25 11:49:05
 */

/*主要颜色*/
$mainColor: #409EFF;

/*辅助色*/
$successColor: #67C23A;
$warnColor: #E6A23C;
$dangerColor: #F56C6C;
$infoColor: #909399;

// 主要文字
$mainFontColor: #303133;
// 次要文字
$commonFontColor: #606266;
// 次要文字
$minorFontColor: #909399;
// 占位文字
$placeholderFontColor: #C0C4CC;

// 一级边框
$l1BorderColor: #DCDFE6;
// 二级边框
$l2BorderColor: #E4E7ED;
// 三级边框
$l3BorderColor: #EBEEF5;
// 四级边框
$l4BorderColor: #F2F6FC;

// 基础黑色
$basicBlack: #000000;
// 基础白色
$basicWhite: #FFFFFF;
// 透明
$transparent: transparent;
